-R
.schema.sql.swp
frontend_build.tar
schema.sql
installation_script.sh
z_backend.zip
.vscode/settings.json
AuctionHai/Icons/AuctionPublished.svg
AuctionHai/Icons/ClosedAuction.svg
AuctionHai/Icons/CurrentAuction.svg
AuctionHai/Icons/DownArrow.svg
AuctionHai/Icons/E-WasteAuction.svg
AuctionHai/Icons/FacebookIcon.svg
AuctionHai/Icons/GlassAuction.svg
AuctionHai/Icons/InstagramIcon.svg
AuctionHai/Icons/PaperAuction.svg
AuctionHai/Icons/PlasticAuction.svg
AuctionHai/Icons/SearchIcon.svg
AuctionHai/Icons/TwitterIcon.svg
AuctionHai/Icons/UpcomingAuction.svg
AuctionHai/Images/Banner.jpeg
AuctionHai/Images/HeaderImage.jpg
AuctionHai/Images/Logo.png
z_backend.zip
z_frontend.tar
z_backend/logs
z_backend/logs/application.log
z_backend/logs/application.log
z_backend/logs/application.log
z_backend/.env

backend_installation_script.sh
notes/
z_backend.zip
